html { 
  background: urlhttps://media3.giphy.com/media/4a7sWil1NZoRWymHJp/giphy.gif no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
